fieldset {
    width: 300px;
}
label {
    width: 150px;
    display: inline-block; /*acomoda los inputs linealmente */ 
}
#arialLabel {
    font-family:'Arial';
}
#timeNewRomanLabel {
    font-family:'Time New Roman';
}
#courierLabel {
    font-family:'Courier';
}
